body {
	font-family: Avenir, sans-serif;
}

h2 {
	text-align: center;
	font-size: 500%;
}

.head-bar {
	height: 10%;
	text-align: center;
	color: white;
	background-color: #41B7F2;
	font-size: 370%
}

.homebuttons{
	text-align: center;
	color: #41B7F2;
	font-size: 200%;
	border: 2px solid black;
	margin: 20% 5% 20% 5%;
	padding: 5% 0%;
	border-radius: 25px;
}

.back-button {
	max-height: 13%;
	max-width: 13%;
	position: absolute;
	top: 0.5%;
	left: 0.5%;
}




/* Report Page */

#slider{
	width: 80%;
	margin: 10% 10% 0% 10%;
}

#details{
	width: 80%;
	height: 30%;
	margin: 10%;
	border-style: solid;
	border-width: 2px; 
}

.submit{
	margin: 10%;
	height: 10%;
	width: 80%
}

#level{
	margin-right: 14.9%;
	font-size: 30px;
}

#level2{
	font-size: 30px;
}

.labels{
	margin-left: 10%;
}

.question {
	margin-top: 10%;
}