body {
	font-family: 'Raleway', sans-serif;
}

h3 {
	text-align: center;
	font-size: 500%;
}

p {
	text-align: center;
	font-size: 25px;
	color: gray;
}

.head-bar {
	height: 10%;
	text-align: center;
	color: white;
	background-color: #41B7F2;
	font-size: 430%
}

.homebuttons{
	text-align: center;
	color: #41B7F2;
	font-size: 300%;
	border: 2px solid black;
	margin: 20% 5% 2% 5%;
	border-radius: 25px;
}

.back-button {
	max-height: 70%;
	max-width: 70%;
	float: left;
	border: 4px solid white;
	position: relative;
	left: 15px;
	top: 22px;
}

/* Report Page */

#slider{
	width: 80%;
	margin: 10% 10% 0% 10%;
}

#details{
	width: 80%;
	height: 30%;
	margin: 10%;
	border-style: solid;
	border-width: 2px;
	font-size: 300%;
	border-radius: 15px;
	padding-bottom: 420px;
	padding-left: 15px;
}

.submit{
	width: 80%;
    margin: 10% 10%;
	background-color: #41B7F2;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 400%;
    padding: 5% 0%;
    border: none;
	border-radius: 25px;
}

#level{
	margin-right: 14.9%;
	font-size: 30px;
}

#level2{
	font-size: 30px;
}

.labels{
	margin-left: 10%;
}

.question {
	margin-top: 10%;
}



/* slider colors */

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  margin-top: 10px;
  transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}


/* map css */

#search-bar {
	font-size: 400%;
	float: left;
	position: relative;
	left: 25px;
}

#search-box {
	display: inline;
}

.textbox {
	border: 2px solid black;
	font-size: 80%;
	width: 600px;
}

.search-button-img {
	width: 70px;
	height: 70px;
	border: 1px solid black;
	display: inline;
	margin: 5px;
	position: relative;
	top: 20px;
	right: 10px;
}

#panel {
	float: right;
	width: 100px;
	height: 550px;
}

#map-container {
	padding: 5%;
}

#map {
	width: 100%;
	height: 79%;
}

.title {
	border-bottom: 1px solid #e0ecff;
	overflow: hidden;
	width: 256px;
	cursor: pointer;
	padding: 2px 0;
	display: block;
	color: #000;
	text-decoration: none;
}

.title:visited {
	color: #000;
}

.title:hover {
	background: #e0ecff;
}

#timetaken {
	color: #f00;
}

.info {
	width: 200px;
}

.info img {
	border: 0;
}

.info-body {
	width: 200px;
	height: 200px;
	line-height: 200px;
	margin: 2px 0;
	text-align: center;
	overflow: hidden;
}

.info-img {
	height: 220px;
	width: 200px;
}

.gm-style .gm-style-iw {
   font-size: 24px;
}
