body {
	font-family: Avenir, sans-serif;
}

.head-bar {
	height: 25%;
	text-align: center;
	color: white;
	background-color: #41B7F2;
	font-size: 370%
}

.homebuttons{
	text-align: center;
	color: #41B7F2;
	font-size: 200%;
	border: 2px solid black;
	margin: 3%;
	border-radius: 25px;
}